
<div id="main">
    <%= image_tag 'main-img.jpg' %>
</div>

<div id="article_wrap">

    <div id="article_list">

      <% @articles.each do |article| %>

        <div>
            <h2><a><%= link_to "#{article.title}", controller: 'articles', action: 'show', id: "#{article.id}" %></a></h2>
            <!-- <h2><a><%= link_to "#{article.title}", "articles/#{article.id}" %></a></h2> -->
            <p><%= article.updated_at.strftime('%Y/%m/%d') %></p>
              <% if user_signed_in? %>
                <p>
                    <%= link_to "編集", "articles/#{article.id}/edit" %>
                    <%= link_to "削除", "articles/#{article.id}", rel: "nofollow", method: "delete" %>
                </p>
              <% else %>
              <% end %>
        </div>
      <% end %>
    </div>

    <div id="sidebar">

        <h2>★PV数ランキング</h2>
        <ul>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（10PV）</span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（8PV）</span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（2PV）</span></a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
